$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;

.navbar {
    width: 100%;
    .navbar-link{
        margin-right: auto;
        margin-left: auto;
        font-size: xx-large;
        .nav-link-home:hover{
            text-decoration: underline;
        }
        .nav-link-shop:hover{
            text-decoration: underline;
        }
    }
}

@media (max-width: $lg) {
    .sm-icon-collapse{
        visibility: collapse;
    }
}

.card {
    margin: auto;
    width: 250px;
    justify-content: center;
    img {
        margin: auto;
        margin-top: 10px;
    }
}